/* Mise en forme des puces pour les listes */

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul {list-style-type: none}
    li::before {content: ""; color: red; font-size: 0px;
        display: inline-block; width: 0em; height: 0em;
        margin-left: 0em
}

/* Mise en forme des puces pour les ingrédients */

li {
    list-style: outside;
    list-style-type: circle;
    line-height: 1.2;
    font-size: 15px;
    line-height: 1.5em; /* Mise en forme de l'interlignage */
}

/* Mise en forme de l'interlignage entre les puces */
li:not(:last-child) {
    margin-bottom: 0.1em;
}

/* Mise en forme des puces pour la préparation */

#prepa li 
{
    list-style: outside;
    list-style-type: decimal;
    font-size: 15px;
    line-height: 1.5;
    font-weight: 400;
}

/* Mise en forme des titres h5 */

h5 {
    color: grey;
}

/* Mise en forme du bloc text */

.standard-box {
    max-width: 50%;
  }

@media (max-width: 1500px) {

.standard-box {
    max-width: 100%;
}
}

/* Mise en forme des images à l'intérieur des posts */

.image-posts
{
width: 100%;
max-width: 500px;
height: auto;
}
