<!DOCTYPE html>
<html>
    <head>

        <!--
          La balise suivante permet de déclarer la table d'encodage des caractères.
          la table UTF-8, permet théoriquement d'encoder toutes les langues, du français au japonais en passant par l'arabe.
        -->
        <meta charset="utf-8">
    
        <!--
          La balise suivante permet de ne pas indexer mon site web et bien plus.
          Plus d'info sur https://developers.google.com/search/reference/robots_meta_tag#max-image-preview
        -->
        <meta name="robots" content="noindex, nofollow, noarchive, nosnippet, notranslate, noimageindex">
    
        <!-- Permet de controler la dimenssion d'affichage de ma page web et le zoom dans celle-ci -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
        <!-- Ma feuille de style CSS
        <link rel="stylesheet" type="text/css" href="/css/home.css">   -->
 
        <title>{{ site.title }} | {{ page.title }}</title>

    </head>

    <body>

        {{ content }}

    <!--
      La carte de nos lieux de sorties à Paris
    -->

    <div class="parent">

        <iframe
        width="90%" height="600px" allowfullscreen
        src="//umap.openstreetmap.fr/fr/map/sortir-a-paris_482924?scale
        Control=true&miniMap=false&scrollWheelZoom=true&zoom
        Control=false&allowEdit=false&moreControl=false&search
        Control=true&tilelayersControl=false&embedControl=true&datalayers
        Control=true&onLoadPanel=none&captionBar=false&fullscreen
        Control=true&locateControl=true&measureControl=false&editinosm
        Control=false">
        </iframe>
        
    </div>

        <p style="text-align:center">
            <a id="a1" href="//umap.openstreetmap.fr/fr/map/sortir-a-paris_482924" target="_blank">Voir en plein écran</a>
        </p>

    </body>
</html>